@media only screen and (max-width: 1815px) {
  .header__logo {
    width: 10%;
  }
}

@media only screen and (max-width: 1240px) {
  .hero__title {
    width: 100%;
  }

  .hero__container {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 1000px) {

  .body__layout {
    display: flex;
    flex-direction: column;
  }

  .navigation ul li{
    font-size: 16px;
  }


  .navigation ul {
    column-gap: 1rem;
  }

  #main__container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .header__container {
    padding-inline: 1rem;
  }

  .hero__title {
    text-align: center;
  }

  .hero__title .button__container {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {

  
  .navigation{
    display: none;
  }

  .navigation.burger-active{
    display: block;
  }

  .navigation.burger-active ul li {
    font-size: 3.5rem;
  }

  .header__button {
    margin-left: auto;
    margin-right: 2rem;
  }

  .header__nav {
    max-width: 45px;
    width: 100%;
    order: 3;
  }
  .nav_burger {
    display: flex;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
  .hero__title h1 small{font-size: 16px;}

  .btn { font-size: 16px; padding-inline: 20px; }
}
