@import "./base.css";

@import "./components.css";
/* @import "./utilities.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
  content: "";
  background: url(/images/screenshot.jpg) top no-repeat;
  position: absolute;
  inset: 0;
  margin: auto;
  display: block;
  opacity: 0.1;
  pointer-events: none;
  z-index: 5;
}
